.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .image-gallery > li {
    flex-basis: 350px; /* width: 350px; */
    position: relative;
    text-align: center;
    color: rgb(212, 212, 212);
  }

  .image-gallery::after {
    content: "";
    flex-basis: 350px;
  }

  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }


  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-family: inherit;
    font-style: bold;
  }

  /* .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: fit-content;
    height: fit-content;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;

  } */
  
  /* hover */
.image-gallery img {
	/* opacity: 1; */
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    filter: brightness(40%)
}
.image-gallery :hover img {
	/* opacity: 0.7; */
    filter: brightness(80%);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.image-gallery :hover div {
	color: rgb(239, 239, 239);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}



/* style="background-color:#9b59b6;" */
/* https://web-eau.net/blog/15-effets-css3-pour-vos-images */
/* https://blog.logrocket.com/how-create-responsive-image-gallery-css-flexbox/ */